/* @theme style
 *
 * @size A5 148mm 210mm
 * @size A5px 504px 735px
 */

 /*
  * 出力の際に崩れるので、なるべく px で指定する。
  */

 /* Google - Material Icons Round */
 @font-face {
    font-family: 'Google Icons';
    font-style: normal;
    font-weight: 400;
    font-display: swap;

    /* Round *
    src: url(https://fonts.gstatic.com/s/materialiconsround/v108/LDItaoyNOAY6Uewc665JcIzCKsKc_M9flwmP.woff2) format('woff2');

    /* Outlined */
    src: url(https://fonts.gstatic.com/s/materialsymbolsoutlined/v129/kJEhBvYX7BgnkSrUwT8OhrdQw4oELdPIeeII9v6oFsI.woff2) format('woff2');

    /**/
}

.material-icons-round {
    font-family: 'Google Icons';
    font-weight: normal;
    font-style: normal;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    vertical-align: -.135em;
    display: inline;
}

/* root */

:root {
    --color-theme: #0094D3;
    --color-background: #FEFCFE;
    --color-background-gray: #f0f0f0;
    --color-text: #111111;
    --color-text-invalid: #d8d8d8;
    --color-marker: #f8f687;
    --color-text-link: #2525f0;
}

* {
    font-family: "リュウミン", "小塚ゴシック", "BIZ UDゴシック", "MS UI Gothic";
}

section {
    background-color: var(--color-background);
}

/* title */
section.title {
    color: var(--color-text);
    text-align: center;
    padding: 1em;
}

section.title::after {
    display: none;
}

section.title > h1 {
    display: inline-block;
    margin: 1em 0;
    padding: 0 1em .25em;
    border-bottom: 2px solid var(--color-text);
}

section.title > h2 {
    font-size: 18px;
    margin-bottom: 2em;
}

/* page */
section.page {
    color: var(--color-text);
    padding: 1em 2em;
}

section.page::after {
    font-size: x-small;
}

section.page > h2 {
    font-size: 20px;
    border-radius: 1px;
    border-left: .5em solid var(--color-theme);
    border-bottom: 2px solid var(--color-theme);
    padding: .5em .5em;
}

section.page > h3 {
    font-size: 15px;
    padding: .15em .35em 0;
}

section.page > p {
    font-size: 13px;
    text-indent: 1em;
    line-height: 1.5em;
    margin-bottom: 0;
}

section.page > p + p {
    padding-top: 0;
    margin-top: 0;
}

section.page > ul {
    font-size: 13px;
    line-height: 1.25em;
}
